* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rubik", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

nav {
    background-color: #3E8989;
}

h1 {
    color: #fff;
    font-size: 80px;
    font-weight: 600;
    margin-bottom: 20px;
}

button {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}

header {
    margin-bottom: 100px;
}

h2 {
    font-size: 40px;
    font-weight: 600;
    color: #3E8989;
    text-align: center;
    font-family: "Inter";
    margin-bottom: 50px;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.nav {
    position: relative;
}

.nav__burger {
    color: #fff;
    font-size: 20px;
    display: none;
}

.nav__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 37px 0;
    flex-wrap: wrap;
}

.nav__menu {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.menu__link {
    color: #fff;
}

.menu__item {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    transition: 100ms;
    border-bottom: 2px solid transparent;
    padding-bottom: 5px;
}

.menu__item:hover {
    border-bottom: 2px solid #fff;
    transition: 100ms;
}

.hero__content {
    padding: 0 15px;
    height: 780px;
    background-image: url(../img/hero__img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero__subtitle {
    color: #fff;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 50px;
}

.hero__btn {
    font-size: 18px;
    font-weight: 600;
    background-color: #B4436C;
    padding: 14px 78px;
    border-radius: 30px;
    color: #fff;
    transition: 300ms;
    font-family: "Inter";
}

.hero__btn:hover {
    background-color: #fff;
    color: #B4436C;
    transition: 300ms;
}

.about-us {
    margin-bottom: 100px;
}

.about-us__img {
    max-width: 545px;
    width: 100%;
}

.about-us__content {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.about-us__p {
    font-size: 18px;
    max-width: 545px;
    width: 100%;
}

.catalog__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    max-width: 263px;
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
}

.card__img {
    background-color: #EFEFEF;
    height: 300px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__title {
    font-size: 24px;
    font-weight: 600;
    font-family: "Inter";
    transition: 500ms;
}

.card__title:hover {
    color: #B4436C;
    transition: 500ms;
}

.contacts {
    margin-bottom: 104px;
}

.contacts__title {
    text-align: left;
}

.contacts__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contacts__subtitle {
    color: #000;
    font-size: 20px;
    font-weight: 400;
}

.contacts__info {
    display: flex;
    flex-direction: column;
}

.call {
    color: #000;
    font-size: 20px;
    margin-bottom: 20px;
}

.mail {
    color: #000;
    font-size: 20px;
}

footer {
    background-color: #3E8989;
    padding: 32px 0 15px 0;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 59px;
    flex-wrap: wrap;
}

.footer__search {
    display: flex;
    align-items: center;
}

.footer__search * {
    height: 35px;
    border: none;
    outline: 0;
    font-family: "Rubik";                                                                                                                                                              
}

.search__ru {
    max-width: 216px;
    font-size: 18px;
    padding-left: 20px;
    border-radius: 35px 0 0 35px;                                           
}

.search__eng {                                      
    font-size: 16px;
    background-color: #295E5E;
    color: #fff;
    border-radius: 0 35px 35px 0;
    max-width: 74px;
    width: 100%;
    padding: 0 14px;
}

.footer__text {
    font-size: 14px;
    color: #fff;
    text-align: center;
    font-weight: 400;
}


.footer__menu {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.footer__link {
    color: #fff;
}

.footer__item {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    transition: 100ms;
    border-bottom: 2px solid transparent;
    padding-bottom: 5px;
}

.footer__item:hover {
    border-bottom: 2px solid #fff;
    transition: 100ms;
}
